<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="game">
  
  <div ng-controller="teamsController">
      <h3>Название 1й команды: {{team1}}</h3>
      <input ng-model="team1" placeholder="enter team name">

      <hr>

      <h3>Название 2й команды: {{team2}}</h3>
      <input ng-model="team2" placeholder="enter team name">

      <hr>

      <div ng-repeat="item in addings">
          <input type="checkbox" ng-checked="isExists(item)" ng-click="toggle(item)" />
          {{item.name}}
      </div>

      <div>
        <input type="number" ng-model="addTo21" size="20" placeholder="add points">
        <button ng-click="addScore3(1)">
          Add Points to {{team1}}
        </button>
        <button ng-click="addScore3(2)">
          Add Points to {{team2}}
        </button>

        <hr />

        <h3>Score: {{score1}} : {{score2}}</h3>
      </div>

      <hr>

      <form ng-submit="addScore2()"></form>

      <table border="1" width="100%">
      <tr>

        <th>Chose</th>
        <th>team 1</th>
        <th>team 2</th>
      </tr>

          <th></th>
          <tr ng-repeat="x in actionList">
          <td><input type="checkbox" ng-model="x.delete"></td>
          <td><span ng-bind="x.actionTeam1"></span></td>
          <td><span ng-bind="x.actionTeam2"></span></td>
        </tr>
      </table>

      <p><button ng-click="remove()">Remove marked game</button></p>
      <h2><p><button ng-click="startNewGame()">Start new game!</button></p></h2>



    </div>

      

  </body>
</html>
